.HomeContainer {
    margin: 20px auto;
}

.HomeTitle {
    background: linear-gradient(45deg, hsla(191, 95%, 56%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    color: #06B4DB;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    margin: 0;
}

.HomeSubtext {
    color: #147390;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 7vh;
}

.HomeGotoContainer {
    margin: auto;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 20vw 20vw;
    column-gap: 40px;
}

.HomeGoto {
    margin: auto;
    display: grid;
    width: 100%;
    padding: 20px;
}

.Grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.HomeGotoText {
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 10px 0px;
}

.HomeGotoIcon {
    /* border: 3px solid gray; */
    object-fit: cover;
    color: white;
    width: 10em;
    height: auto;
    margin: 15px auto;
    color: radial-gradient(circle, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 81%, 1) 100%);

}

.HomeGotoLink {
    margin: auto;
    padding: 10px 40px;
    background-color: #06c7f2;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.HomeGotoLink:hover {
    background-color: #04829f
}