.NavBarContainer {
  margin: 0 auto;
  padding: 0px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1C1D22;
}

.NavBarContainerScroll {
  position: sticky;
  top: 0px;
  z-index: 999999;
  transition: top 1s;
  width: 100%;
  padding: 10px 90;
  background-color: #1C1D22;
}

.NavBarHomeLink {
  display: flex;
  margin: 0px; 
  padding: 3px 10px 4px 0;
  object-fit: cover;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: #FFFFFA;
  border-bottom: 0px;
  transition: border-bottom .2s ease-in-out;
}

.NavBarHomeLink:hover, .NavBarLink:hover {
   border-bottom: 10px solid #24D2F9;
   padding-bottom: 3px;
   transition: all .2s ease-in-out;
   position: relative;
}

.NavBarHomeIMG {
  object-fit: cover;
  max-width: 100px;
  max-height: 200px;
  width: 2rem;
  height: 2rem;
  margin: 5px 10px;
}

.NavBarLink {
  font-size: 24px;
  padding: 10px 10px;
  text-decoration: none;
  color: #FFFFFA;
}

.NavBarLinkCurrent {
  pointer-events: none;
  border-bottom: 5px solid #24D2F9;
  font-weight: 600;
}
