.NavBarContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  margin: auto;
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.NavBarHomeLink {
  display: flex;
  margin: 0px; 
  padding: 3px 10px 3px 0;
  border-radius: 1rem 0 0 1rem ;
  object-fit: cover;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.NavBarHomeLink:hover {
  background-color: gray;
}

.NavBarHomeIMG {
  object-fit: cover;
  max-width: 100px;
  max-height: 200px;
  width: 2rem;
  height: 2rem;
  margin: 5px 10px;
}


.NavBarLink {
  font-size: 24px;
  padding: 10px 10px;
  text-decoration: none;
}

.NavBarLink:hover {
  background-color: gray;
}


.NavBarLinkCurrent {
  background-color: black;
  pointer-events: none;
}
